[submodule "storage-freebsd"]
	path = storage-freebsd
	url = ../storage-freebsd
[submodule "third-freebsd"]
	path = third-freebsd
	url = ../third-freebsd
[submodule "tool-freebsd"]
	path = tool-freebsd
	url = ../tool-freebsd
[submodule "operating-system-freebsd"]
	path = operating-system-freebsd
	url = ../operating-system-freebsd
[submodule "operating-system-posix"]
	path = operating-system-posix
	url = ../operating-system-posix
[submodule "operating-system-darwin"]
	path = operating-system-darwin
	url = ../operating-system-darwin
